{% load trip_journal_extras %}
{% load staticfiles %}
{% for story_block in story_blocks %}

{% if page == 'story' %}
    {% if story_block.type == 'text' %}
    <div class="saved text block_story" style="background:#822" {{story_block|coordinates_data}}>
        <p>{{ story_block.content|safe }}</p>
    </div>
    {% elif story_block.type == 'img' %}
    <div class="saved img block_story" style="background:#822" {{story_block|coordinates_data}}
         data-dbId="{{story_block.id}}">
        <img class="story_photo" src="{{ story_block.pic|get_stored_pic_by_size:800 }}">
        <p class="like_picture">
            <a class="like_pic_link {% if story_block.pic|is_liked_by:user %}liked{% endif %}"
               href="{% url 'like' item_to_like="picture" item_id=story_block.pic.id %}"
               title="like this picture">
            <span>Like</span></a>
            <span class="likes_count">{{ story_block.pic.likes_count }}</span>
        </p>
    </div>
    {% elif story_block.type == 'artifact' %}
    <div class="saved artifact block_story" {{story_block|coordinates_data}}>
        <p>{{ story_block.content|safe }}</p>
    </div>
    {% endif %}

{% elif page == 'edit' %}
    {% if story_block.type == 'text' %}
        <div class="block_story" block_type="text" style="background:#822" {{story_block|coordinates_data}}>
        {{ story_block.content|safe }}
            <div class="key_panel" style="display:none">
                <button class="top"></button>
                <button class="bottom"></button>
                <button class="delete"></button>
                <button class="addmarker"></button>
                <button class="removemarker"></button>
            </div>
        </div>
    {% elif story_block.type == 'img' %}
    <div class="block_story" block_type="img" style="background:#822" {{story_block|coordinates_data}}>
        <img class="image_story" src="{{ story_block.pic|get_stored_pic_by_size:800 }}" data-dbId="{{story_block.id}}">
             <div class="key_panel" style="display:none">
                <button class="top"></button>
                <button class="bottom"></button>
                <button class="delete"></button>
                <button class="addmarker"></button>
                <button class="removemarker"></button>
            </div>
    </div>
    {% elif story_block.type == 'artifact' %}
    <div class="saved artifact block_story" {{story_block|coordinates_data}}>
        {{ story_block.content|safe }}
    </div>
    {% endif %}
    
{% endif %}
{% endfor %}






